:root {
    --width-tarjeta: calc(50vw / 6);
    --height-tarjeta: calc(50vh / 3);
}

* {
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    /* font-family: calibri; */
}

body {
    padding: 0% 7%;
    background: powderblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main div {
    /* background-color: rgb(229, 212, 245); */
    display: inline-block;

    /* width: 100%;
    height: 550px; */
     
}

.pistas{
    cursor: pointer;
    display: flex;
    gap: 5px;
    /* display: none; */
}

.nuevo-juego {
    cursor: pointer;
    background: linear-gradient(rgb(137, 225, 247), rgb(117, 138, 230));
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
}

.nuevo-juego:hover {
    transition: all 0s;
    border: white 2px solid;
}

.time {
    font-size: 24px;
    font-weight: bold;
}

.area-tarjeta, .tarjeta, .cara{
    cursor: pointer;
    width: var(--width-tarjeta);
    /* min-width: 100px; */
    height: var(--height-tarjeta);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;cursor: initial;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 100%; */
}

.cara img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.trasera {
    cursor: initial;
    background-color: lightcyan;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(rgb(137, 225, 247), darkblue);
}

@keyframes iniciar {
20%, 90% {
        transform: rotateY(180deg);
    }

    0%, 100% {
        transform: rotateY(0deg);
    }
}


@media  (max-width: 768px) {
    :root {
        --width-tarjeta: calc(65vw / 4); 
        --height-tarjeta: calc(31vh / 4);
    }
    .title {
        font-size: 28px;
    }
    .container {
        width: 100%; 
    }
    .pistas img{
        width: 25px;
        height: 25px;
    }

    

    header {
        flex-direction: column;
        padding: 10px;
    }

    .nuevo-juego, .time {
        font-size: 18px;
    }
}

